---
import Layout from "../../layouts/Layout.astro";
---

<Layout title="Blog">
    <main>
        <div class="flex flex-row justify-center bg-navy py-10">
            <p class="text-white">Coming soon</p>
        </div>
    </main>
</Layout>
