---
import Heading from "../../components/Heading.astro";
import Screen from "../../components/Screen.astro";
import asciiart from "../../neofetch-ascii.txt?raw";
---

<Screen
  anchor="about"
  background="bg-background"
  color="text-accent"
  next_section="root"
  rotate
>
  <Heading color="text-accent" classList="hidden md:block font-mono"
    >$:neofetch</Heading
  >
  <div
    class="z-10 flex h-screen flex-col items-center justify-evenly p-8 align-middle md:h-auto md:w-[70%] md:flex-row"
  >
    <Heading color="text-accent" classList="font-mono md:hidden"
      >$:neofetch</Heading
    >
    <div
      class="flex aspect-square h-fit w-fit justify-center overflow-hidden rounded-full align-middle shadow-md shadow-accent"
    >
      <p
        class="whitespace-pre font-mono text-[1.5px] text-accent sm:text-[2px] lg:text-[3px]"
      >
        {asciiart}
      </p>
    </div>
    <div
      class="rounded-xl bg-background p-4 font-mono text-sm text-text shadow-md shadow-accent md:text-lg"
    >
      <p><span class="font-bold text-accent">anumeyasehgal@earth</span></p>
      <p><span class="font-bold text-accent">-------------------</span></p>
      <p>
        <span class="font-bold text-accent">OS:</span> Eat, Code, Sleep, Repeat
      </p>
      <p>
        <span class="font-bold text-accent">Host:</span> Human, Occasionally Debugged
      </p>
      <p>
        <span class="font-bold text-accent">Kernel:</span> Adaptive, Always Learning
      </p>
      <p><span class="font-bold text-accent">Uptime:</span> 19 years</p>
      <p>
        <span class="font-bold text-accent">Packages:</span> Everything I could find
      </p>
      <p>
        <span class="font-bold text-accent">Theme:</span> Jack of all trades
      </p>
      <p>
        <span class="font-bold text-accent">Terminal:</span> WarpTerminal (I'm rusty)
      </p>
      <p><span class="font-bold text-accent">CPU:</span> Always Overclocked</p>
      <p>
        <span class="font-bold text-accent">GPU:</span> Calculating Best Solutions
      </p>
      <p>
        <span class="font-bold text-accent">Memory:</span> 10M+ Facts and Topics
      </p>
      <p>
        <span class="font-bold text-accent">Social:</span> Music (Guitar/Drums),
        Sports
      </p>
      <p>
        <span class="font-bold text-accent">Communities:</span>
        <a href="lugvitc.net" class="underline">LUGVITC</a>
        <a href="https://stratos-linux.org/" class="underline">StratOS</a>
      </p>
    </div>
  </div>
</Screen>
