---
import Heading from "../../components/Heading.astro";
import Screen from "../../components/Screen.astro";
import ProjectScreen from "../../components/ProjectScreen.astro";
---

<Screen
  anchor="projects"
  background="bg-accent"
  color="text-background"
  next_section="project-1"
  invert
>
  <Heading
    color="text-background"
    classList="font-bold uppercase mb-4 text-center">Projects</Heading
  >
</Screen>

<ProjectScreen
  title="LifeFence"
  github_link="https://github.com/kreativethinker/lifefence"
  mockup=""
  anchor="project-1"
  next_section="project-2"
>
  <p class="p-2 text-text">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore quas id
    nihil expedita cumque quam animi mollitia quod, voluptas modi dolorem
    doloremque dignissimos fugit ipsa dolor accusantium dolorum perferendis
    possimus.
  </p>
</ProjectScreen>
<ProjectScreen
  title="Pwncore"
  github_link="https://github.com/kreativethinker/lifefence"
  mockup=""
  anchor="project-2"
  next_section="project-3"
  invert
>
  <p class="p-2 text-text">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed enim quos fuga
    blanditiis perferendis incidunt repellendus dolorum explicabo eum, deleniti
    magnam earum odio, impedit reiciendis accusantium repudiandae minus
    excepturi architecto!
  </p>
</ProjectScreen>
<ProjectScreen
  title="vert.ai"
  github_link="https://github.com/kreativethinker/lifefence"
  anchor="project-3"
  mockup=""
  next_section="blog"
>
  <p class="p-2 text-text">
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed enim quos fuga
    blanditiis perferendis incidunt repellendus dolorum explicabo eum, deleniti
    magnam earum odio, impedit reiciendis accusantium repudiandae minus
    excepturi architecto!
  </p>
</ProjectScreen>
