---
import Heading from "../../components/Heading.astro";
import Screen from "../../components/Screen.astro";
import Card from "../../components/Card.astro";
---

<Screen
  anchor="projects"
  background="bg-background"
  color="text-text"
  next_section="about"
>
  <div class="flex h-full w-full flex-col justify-evenly align-middle">
    <div>
      <Heading
        color="text-accent"
        classList="font-bold uppercase text-center mb-4">Projects</Heading
      >
      <p class="text-center">
        View more on my <i class="fa fa-md fa-github"></i>
        <a
          href="https://github.com/KreativeThinker"
          style='cursor: url("/assets/cursor_inverted.svg"), auto;'
          class="underline">Github</a
        >
      </p>
    </div>
    <div
      class="flex snap-x snap-mandatory flex-row gap-8 overflow-x-scroll p-8 md:justify-evenly"
    >
      <Card
        title="LifeFence"
        code="https://github.com/KreativeThinker/LifeFence"
        image="/assets/projects/LifeFence.jpeg"
        technologies={["React Native", "Python", "FastAPI", "Docker"]}
      >
        TODO app with advanced location based features and group management.
      </Card>
      <Card
        title="Pwncore"
        code="https://github.com/lugvitc/pwncore"
        image=""
        technologies={["Python", "FastAPI", "TortoiseORM", "Docker"]}
      >
        Scalable CTF backend written in FastAPI. Offers 2 modes and other
        features including:
        <ul class="text-center">
          <li>Dynamic Flags</li>
          <li>Dynamic Points</li>
          <li>Jeopardy CTF</li>
          <li>Attack-and-Defense CTF</li>
          <li>Powerups to gamify</li>
        </ul>
      </Card>
      <Card
        title="learn-language"
        code="https://github.com/KreativeThinker/learn-language"
        image=""
        technologies={["React", "Markdown"]}
      >
        A simple web interface made in React during exams to help learn german
        using flash cards.
      </Card>
      <Card
        title="RecruitReview"
        code="https://github.com/KreativeThinker/RecruitReview"
        image=""
        technologies={["React", "Supabase", "PostgreSQL"]}
      >
        A very simple admin panel to view, manage and shortlist candidates. Made
        to make recruitment process of <a href="lugvitc.net" class="underline"
          >LUGVITC
        </a> easier.
      </Card>
    </div>
  </div>
</Screen>
