---
import Heading from "../../components/Heading.astro";
import Screen from "../../components/Screen.astro";
import Card from "../../components/Card.astro";
---

<Screen
  anchor="projects"
  background="bg-background"
  color="text-text"
  next_section="socials"
>
  <div class="flex h-full w-full flex-col justify-evenly p-8 align-middle">
    <div>
      <Heading
        color="text-accent"
        classList="font-bold uppercase text-center mb-4">Projects</Heading
      >
      <p class="text-center">
        View more on my <i class="fa fa-md fa-github"></i>
        <a
          href="https://github.com/KreativeThinker"
          style='cursor: url("/assets/cursor_inverted.svg"), auto;'
          class="underline">Github</a
        >
      </p>
    </div>
    <Card title="LifeFence" code="https://github.com/KreativeThinker/LifeFence">
      Mobile App built with React-Native to track and update your TODOs based on
      location.
    </Card>
    <Card title="Pwncore" code="https://github.com/lugvitc/pwncore">
      Scallable CTF backend written in FastAPI. Used for conducting various
      events
    </Card>
    <Card
      title="learn-language"
      code="https://github.com/KreativeThinker/learn-language"
    >
      A simple web interface made in React during exams to help learn german
      using flash cards.
    </Card>
    <Card title="dotfiles" code="https://github.com/KreativeThinker/dotfiles">
      The configuration files for my linux workflow. BSPWM, neovim, zen-browser
    </Card>
  </div>
</Screen>
