---
import Heading from "../../components/Heading.astro";
import Screen from "../../components/Screen.astro";
import Separator2 from "../../components/separators/Separator2.astro";
import ScrollButton from "../../components/ScrollButton.astro";
import Card from "../Card.astro";
---

<Screen anchor="projects" background="bg-accent" color="text-background" invert>
  <Separator2 classList="absolute top-0 rotate-180 h-[40%] w-auto" />
  <Heading color="text-background" classList="uppercase mb-4">Projects</Heading>
  <Separator2 classList="absolute bottom-0 h-[40%] w-auto" />
  <ScrollButton
    background="bg-accent"
    color="text-background"
    section="blog"
    invert
  />
  <div
    class="flex w-full snap-x snap-proximity flex-row gap-4 overflow-x-scroll px-4 md:justify-center"
  >
    <div class="shrink-0">
      <Card
        title="LifeFence"
        code="https://github.com/kreativethinker/lifefence"
      >
        <p class="p-2 text-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore quas
          id nihil expedita cumque quam animi mollitia quod, voluptas modi
          dolorem doloremque dignissimos fugit ipsa dolor accusantium dolorum
          perferendis possimus.
        </p>
      </Card>
    </div>
    <div class="shrink-0">
      <Card title="Pwncore" code="https://github.com/kreativethinker/lifefence">
        <p class="p-2 text-text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed enim
          quos fuga blanditiis perferendis incidunt repellendus dolorum
          explicabo eum, deleniti magnam earum odio, impedit reiciendis
          accusantium repudiandae minus excepturi architecto!
        </p>
      </Card>
    </div>
    <div class="shrink-0">
      <Card title="vert.ai" code="https://github.com/kreativethinker/lifefence">
        <p class="p-2 text-text">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sed enim
          quos fuga blanditiis perferendis incidunt repellendus dolorum
          explicabo eum, deleniti magnam earum odio, impedit reiciendis
          accusantium repudiandae minus excepturi architecto!
        </p>
      </Card>
    </div>
  </div>
</Screen>
