---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
---

<Layout title="Anumeya Sehgal">
    <div class="my-5 justify-center md:mx-10 lg:my-auto lg:px-20">
        <div class="flex flex-col justify-center lg:flex-row">
            <div
                class="flex flex-shrink-0 flex-col items-center justify-center space-y-5 bg-black"
            >
                <img
                    src="./Anumeya.jpg"
                    class="border-3 w-64 rounded-full border-crimson bg-navy"
                />
            </div>
            <div class="flex flex-col items-center justify-start md:space-x-2">
                <h1 class="text-3xl font-bold text-white md:text-2xl">
                    Hi! I am
                </h1>
                <h1 class="text-3xl font-bold text-red md:text-2xl">Anumeya</h1>
            </div>
            <div
                class="mt-50 hidden w-full justify-evenly gap-1 text-left text-white lg:grid lg:grid-flow-row"
            >
                <a
                    href="https://github.com/KreativeThinker"
                    class="text-md inline justify-center space-x-2"
                >
                    <i class="fa-brands fa-github"></i><p
                        class="hidden md:inline"
                    >
                        KreativeThinker
                    </p>
                </a>
                <a
                    href="https://linkedin.com/in/anumeya-sehgal"
                    class="inline justify-center space-x-2"
                >
                    <i class="fa-brands fa-linkedin"></i><p
                        class="hidden md:inline"
                    >
                        Anumeya Sehgal
                    </p>
                </a>
                <a
                    href="https://twitter.com/AnumeyaSehgal"
                    class="inline justify-center space-x-2"
                >
                    <i class="fa-brands fa-x-twitter"></i><p
                        class="hidden md:inline"
                    >
                        AnumeyaSehgal
                    </p>
                </a>
            </div>
        </div>
        <div
            class="flex flex-col items-center space-y-10 px-10 md:px-20 lg:my-10"
        >
            <h1 class="hidden text-3xl font-bold text-white lg:flex">About</h1>
            <p class="text-center text-white">
                A tech enthusiast with a curious, problem solving mind actively
                analysing and finding ways to improve both self and team. From a
                start in the field of electronics, I am now working with
                software pursuing full-stack web development.<br />
                In my free time, I am often engaged in <a
                    href="https://lichess.org/@/Robochess_2020">chess</a
                >, music or brainstorming ideas.
            </p>
            <hr class="mt-10 w-full text-white lg:hidden" />
            <h1 class="text-3xl font-bold text-white">Projects</h1>
            <div
                class="grid grid-cols-1 items-center gap-5 bg-black md:grid-cols-2"
            >
                <Card
                    title="VERT AI"
                    href="https://github.com/mradigen/vert.ai"
                >
                    A green finance stock market for Encryptcon, a 24 hour
                    hackathon at IIT Madras.
                </Card>
                <Card
                    title="Portfolio"
                    href="https://github.com/KreativeThinker/kreativethinker.github.io"
                >
                    The code for this website, made using Astro and tailwindcss.
                </Card>
                <Card
                    title="PWNCORE"
                    href="https://github.com/KreativeThinker/pwncore"
                >
                    The backend for a CTF platform used by the Linux Users Group
                    of VIT Chennai during Password 2024.
                </Card>
                <Card
                    title="My Configs"
                    href="https://github.com/KreativeThinker/dotfiles"
                >
                    These are the dotfiles of my current arch setup (Yes I use
                    Arch BTW) with BSPWM, polybar, neovim, etc.
                </Card>
            </div>
            <hr class="mt-10 w-full text-white lg:hidden" />
            <h1 class="text-3xl font-bold text-white">Blog</h1>
            <p class="text-white">Work in progress</p>
            <hr class="mt-10 w-full text-white lg:hidden" />
        </div>
    </div>
</Layout>
