---
interface Props {
  title: string;
  href: string;
}

const { href, title } = Astro.props;
---

<li class="bg-highlight text-white flex h-full w-full flex-col rounded-md p-5">
  <a href={href} class="flex flex-row gap-1">
    <h2 class="font-bold">
      {title}
    </h2>
    <span>&rarr;</span>
  </a>
  <p>
    <slot />
  </p>
</li>
