---
interface Props {
  title: string;
  code?: string;
  view?: string;
}

const { title, code, view } = Astro.props;
---

<div
  class="mx-auto flex w-full snap-center flex-col rounded-md border-[0.25em] border-text bg-background align-middle text-sm opacity-95"
>
  <div class="flex flex-row">
    <div
      class="flex flex-col justify-evenly rounded-l-md border-r-[0.25em] border-text bg-background p-2"
    >
      <a href={code} class="text-center text-text"
        ><i class="fa fa-md fa-code"></i></a
      >
      <a href={view} class="text-text"><i class="fa fa-md fa-eye"></i></a>
    </div>
    <div class="p-2">
      <slot />
    </div>
  </div>
  <p class="bg-text text-center font-semibold text-background">
    {title}
  </p>
</div>
