---
import Heading from "../components/Heading.astro";

interface Props {
  title: string;
  code: string;
  image: string;
  technologies: string[];
}

const { title, code, image, technologies } = Astro.props;
---

<div
  class="relative mx-auto h-[600px] w-[300px] min-w-[300px] snap-center rounded-[2.5em] border-[14px] border-accent bg-accent shadow-xl shadow-accent dark:border-accent"
>
  <div
    class="absolute left-1/2 top-0 z-10 h-[18px] w-[148px] -translate-x-1/2 rounded-b-[1em] bg-accent"
  >
  </div>
  <div
    class="absolute -start-[17px] top-[124px] h-[46px] w-[3px] rounded-s-lg bg-accent"
  >
  </div>
  <div
    class="absolute -start-[17px] top-[178px] h-[46px] w-[3px] rounded-s-lg bg-accent"
  >
  </div>
  <div
    class="absolute -end-[17px] top-[142px] h-[64px] w-[3px] rounded-e-lg bg-accent"
  >
  </div>
  <div
    class="flex h-full w-full flex-col justify-center overflow-scroll rounded-[2em] bg-background align-middle"
  >
    <Heading color="text-accent" classList="text-center text-3xl">
      {title}
    </Heading>
    <p class="p-4 text-center">
      <slot />
    </p>
    <img src={image} class="hidden h-full w-full" />
    {
      technologies && technologies.length > 0 && (
        <div class="mt-4 flex flex-wrap justify-center gap-2 p-4">
          {technologies.map((tech) => (
            <span class="rounded-lg bg-accent px-3 py-1 text-sm text-background">
              {tech}
            </span>
          ))}
        </div>
      )
    }
    <a href={code} class="text-center underline">
      <i class="fa fa-xl fa-github text-accent"></i>
    </a>
  </div>
</div>
