---
interface Props {
  title: string;
  href: string;
  icon: string;
}

const { href, title, icon } = Astro.props;
---

<a href={href} class="inline justify-center space-x-2 hover:underline">
  <i class=`${icon} fa-lg`></i><p class="hidden md:inline">{title}</p>
</a>
