---
import FooterLink from "../components/FooterLink.astro";
---

<footer class="h-full mt-auto">
  <div
    class="flex flex-row w-full text-white justify-evenly text-center py-5 mt-auto"
  >
    <FooterLink
      href="https://github.com/KreativeThinker"
      icon="fa-brands fa-github"
      title="KreativeThinker"
    />
    <FooterLink
      href="https://linkedin.com/in/anumeya-sehgal"
      icon="fa-brands fa-linkedin"
      title="anumeya-sehgal"
    />
    <FooterLink
      href="https://twitter.com/AnumeyaSehgal"
      icon="fa-brands fa-x-twitter"
      title="AnumeyaSehgal"
    />
    <FooterLink
      href="mailto:anumeyasehgal@proton.me"
      icon="fa-solid fa-envelope"
      title="anumeyasehgal@proton.me"
    />
  </div>
</footer>
