<footer class="mt-auto h-full lg:hidden">
    <div
        class="mt-auto grid w-full grid-flow-col justify-evenly py-5 text-center text-white"
    >
        <a
            href="https://github.com/KreativeThinker"
            class="text-md inline justify-center space-x-2"
        >
            <i class="fa-brands fa-github"></i><p class="hidden md:inline">
                KreativeThinker
            </p>
        </a>
        <a
            href="https://linkedin.com/in/anumeya-sehgal"
            class="inline justify-center space-x-2"
        >
            <i class="fa-brands fa-linkedin"></i><p class="hidden md:inline">
                Anumeya Sehgal
            </p>
        </a>
        <a
            href="https://twitter.com/AnumeyaSehgal"
            class="inline justify-center space-x-2"
        >
            <i class="fa-brands fa-x-twitter"></i><p class="hidden md:inline">
                AnumeyaSehgal
            </p>
        </a>
    </div>
</footer>
