<footer class="h-full mt-auto lg:hidden">
    <div class="grid grid-flow-col w-full text-white justify-evenly text-center py-5 mt-auto">
      <a href="https://github.com/KreativeThinker" class="inline space-x-2 justify-center text-md">
        <i class="fa-brands fa-github"></i><p class="md:inline hidden">KreativeThinker</p>
      </a>
      <a href="https://linkdin.com/in/anumeya-sehgal" class="inline space-x-2 justify-center">
        <i class="fa-brands fa-linkedin"></i><p class="md:inline hidden">Anumeya Sehgal</p>
      </a>
      <a href="https://twitter.com/AnumeyaSehgal" class="inline space-x-2 justify-center">
        <i class="fa-brands fa-x-twitter"></i><p class="md:inline hidden">AnumeyaSehgal</p>
      </a>
    </div>
</footer>
