---
interface Props {
  color: string;
  classList?: string;
  id?: string;
}

const { color, classList, id } = Astro.props;
---

<p id={id} class=`text-5xl font-semibold ${color} ${classList}`>
  <slot />
</p>
