---
import FooterLink from "./FooterLink.astro";
---

<div class="flex w-full flex-row justify-evenly py-5 text-center lg:w-[70%]">
  <FooterLink
    href="https://github.com/KreativeThinker"
    icon="fa fa-github"
    title="KreativeThinker"
  />
  <FooterLink
    href="https://linkedin.com/in/anumeya-sehgal"
    icon="fa fa-linkedin-in"
    title="anumeya-sehgal"
  />
  <FooterLink
    href="https://twitter.com/AnumeyaSehgal"
    icon="fa fa-x-twitter"
    title="AnumeyaSehgal"
  />
  <FooterLink
    href="mailto:anumeyasehgal@proton.me"
    icon="fa-regular fa-envelope"
    title="anumeyasehgal@proton.me"
  />
</div>
